// main stylesheet
// --------------
//
// Table of Contents:
//
// 1. Global
// 2. Search Form
// 3. Featured Image
// 4. Templates
// 5. Slider
// 6. Love Path
// 7. Forms
// 8. utility classes
// 9. one-off classes
// 10.Contact Form 7


// 1. Global
// ---------

html,
body,
footer {
  max-width: 100%;
  overflow-x: hidden;
}

html head + body {
  .green {
    background-color: $moss !important; /* imp flag usage note: material foundation styled class with imp flag */
  }
  .blue {

    background-color: $sky !important; /* imp flag usage note: material foundation styled class with imp flag */
  }
  .navy {
    background: $midnight;
  }
  .snow-arrow {
    background: $snow;
    /* the properties below should be applied no matter what for this class */
    position: relative !important;
    overflow: visible !important;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 25px 0 25px;
      border-color: $snow transparent transparent transparent;
      transform: translateY(100%);
      margin-left: auto;
      margin-right: auto;
      z-index: 100;
    }
  }
  .green,
  .blue,
  .navy {
    padding-left: $default-spacing/2;
    padding-right: $default-spacing/2;
    a {
      font-weight: bold !important;
      * {
        font-weight: bold !important;
      }
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
html head + body .coral {
  @extend .navy;
  background: $coral;
}

.main-video-slide,
#footer-container,
.overlay,
.ol-slider,
.full-width-no-featured-image.navy {
  & *:not(.vc_gitem-post-category-name) {
    color: $white;
  }
}

html head + body .green,
html head + body .blue,
html head + body .navy:not(.snow),
.default-block-styling:not(.shop-block) {
  & .wpb_wrapper > *:not(.vc_gitem-post-category-name):not(div):not(section):not(article) {
    color: $white;
  }
}

html head + body .green,
html head + body .blue,
html head + body .navy:not(.snow),
.default-block-styling:not(.shop-block),
.main-video-slide,
#footer-container,
.overlay,
.ol-slider {

  .vc_grid-container *:not(:hover,:active,:focus,.vc_gitem-post-category-name) {
    color: initial;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea {
    border-bottom: 2px solid $white;
  }
  .social-media-icon:hover * {
    color: $midnight
  }
}
.snow {
  @extend .navy;
  html head + body & {
    background: $snow;
  }
}

[type=radio] {
  & + label,
  & + span {
    @extend label.radio;
  }

  &:checked {
    & + label,
    & + span {
      @extend label.checked;
    }
  }
}
[type=checkbox] {
  & + label,
  & + span {
    @extend label.checkbox;
  }

  &:checked {
    & + label,
    & + span {
      @extend label.checkbox.checked;
    }
  }
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .entry-title,
  .title,
  div.vc_gitem-post-category-name span,
  #menu-footer > li > a,
  .wpcf7-submit {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

// 2. Search Form
// ---------------
#searchform {
  padding: 1rem;
  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &::-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
    &[type="text"]:focus {
      color: $white;
      border-bottom: 2px solid $midnight;
    }
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border-bottom: 2px solid $grey-300;
  height: 100%;
}

// 3. Featured Image
// ------------------
#display-post-category {
  margin-bottom: 1.25rem;
}

#single-post {
  margin-top: $default-spacing;
  article.main-content {
    width: 100%;
    .entry-title {
      margin-bottom: $default-spacing;
    }
    #featured-hero {
      height: 14.0625rem;
      @include breakpoint(medium) {
        height: 25rem;
      }
    }
  }
}

// 4. Templates
// ---------------
.single-learn_post_type {

  #featured-hero {
    height: 14.0625rem;
    background-position: center top;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    @include breakpoint(medium) {
      height: 25rem;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.single-act_post_type  #single-post,
.page-template-page-home #page-full-width,
.page-template-page-full-width #page-full-width,
.single-learn_post_type #single-post,
.overlay-content,
.full-page-header-content {
  width: 94%;
}

.single-act_post_type  #single-post,
.page-template-page-full-width #page-full-width,
.page-template-page-home #page-full-width,
.full-page-header-content,
.overlay-content {
  max-width: 60rem;
  @include breakpoint(medium) {
    width: 80%;
  }
  @include breakpoint(xlarge) {
    width: 100%;
  }
}

.single-act_post_type  #single-post,
.page-template-page-full-width #page-full-width,
.page-template-page-home #page-full-width {
  padding-top: $default-spacing;
  padding-bottom: $default-spacing;
  margin-top: 0;
}

.page-template-page-full-width,
.single-act_post_type {
  #featured-hero {
    margin-bottom: -$default-spacing;
  }
}

.single-learn_post_type #single-post {
  @include breakpoint(48rem) {
    max-width: 48rem;
  }
}

.page-template-page-full-width,
.page-template-page-home,
.single-act_post_type {
  #featured-hero,
  .cycloneslider-slide > * {
    height: calc(100vh - 4.375rem);
    width: 100%;
  }
}

#page-full-width.homepage {
  margin-top: 0;
}

.social-media-icons-container {
  width: 100%;
  a.column.social-media-icon {
    font-size: $default-spacing;
    max-width: 4.375rem;
    &:hover {
      background-color: transparent;
    }
  }
}


.overlay {
  background-image:  linear-gradient(-180deg, rgba(0,0,0,0.00) 38%, #333333 100%);
  height: 100%;
  width: 100%;
  .full-page-header-content {
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    @include default_content_padding();
    margin: 0 auto;
    bottom: 3.5625rem;
    .entry-title {
      margin-bottom: 1.25rem;
    }
  }
}

.single-stories_post_type,
.page-template-page-learn,
.rally_post_type-template-page-learn,
.rally_post_type-template-default  {
  @extend .single-learn_post_type;
}
.rally_post_type-template-page-act,
.page-template-page-act {
  @extend .single-act_post_type;
}

.archive,
.search-results {
  @extend .page-template-page-full-width;
  #page-full-width {
    max-width: 94%;
    @include breakpoint(30rem) {
      max-width: 80%;
    }
    @include breakpoint(48rem) {
      max-width: 48rem;
    }
  }
}

.single-staff_post_type #featured-hero {
  background-position: 15% 15%;
}
.single-staff_post_type {
  #footer-container {
    border-top: 0;
  }
}

// 5. Slider
// ---------
.page-template-page-home .cycloneslider {
  margin-bottom: -$default-spacing;
}
.cycloneslider,
.ol-slider {
  &:focus {
    outline: none;
  }
}

.ol-slider {
  overflow: hidden;
  height: calc(100vh - 4.375rem);
  .title {
    font-size: rem-calc($main-font-size + 3);
    line-height: $title-line-height*.7;
    @include breakpoint(28rem) {
      font-size: $title_font_size;
      line-height: $title-line-height;
    }
  }
  .main-video-slide {
    .overlay-content {
      position: absolute;
      z-index: 3;
      bottom: 2.5rem;
      margin-left: auto;
      margin-right: auto;
      left: $default-spacing/2;
      right: $default-spacing/2;
      & > div {
        @include default_content_padding();
        @include breakpoint(medium) {
          width: 50%;
        }
        & > * {
          margin-bottom: $default-spacing;
        }
      }
    }
    .featured-video-overlay {
      position: relative;
      z-index: 2;

      &:before {
        content: "";
        display: block;
        position: absolute;
        @include dimensions(100%,calc(100vh - 4.375rem));
        opacity: .77;
        background-color: $sky;


        video {
          z-index: 1;
          position: absolute;
        }
      }
    }
  }
  div.slider-image {
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .featured-video-overlay,
  div.slider-image,
  .prevent-touch {
    @include dimensions(100%,100%);
  }
}

.page-template-page-home {
  #featured-hero,
  .cycloneslider-slide > *,
  .featured-video-overlay:before,
  .ol-slider {
    height: 100vh;
  }
  #featured-hero {
    margin-bottom: -$default-spacing;
  }
  .vc-membership-card {
    top: 0;
    left: $default-spacing;
    right: $default-spacing;
    position: absolute;
    transform: translateY(-50%);
  }
}

.prevent-touch {
  pointer-events: none;
}

.video-background {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99
}

.video-background iframe,
.video-foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

@media (min-aspect-ratio:16/9) {
    .video-foreground {
        height: 300%;
        top: -100%
    }
}

@media (max-aspect-ratio:16/9) {
    .video-foreground {
        width: 300%;
        left: -100%
    }
}
.easy-autocomplete {
  .easy-autocomplete-container ul {
    margin: 0;
  }

  input {
    @extend input[type="text"];
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    box-shadow: none;
    color: $black;
  }
}


// 6. Love Path
// ---------
div.vc_row-flex.love-path {
  position: relative;
  .wpb_wrapper {
    * {
      z-index: 1;
    }
    h1,h2,h3,h4,h5,h6,p,span {
      position: relative;
    }
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: $default-spacing;
    left: 0;
    right: 0;
    bottom: $default-spacing;
    background-image: url('/wp-content/themes/onelove/assets/images/love-path-mobile.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    @include breakpoint(rem-calc(768)) {
      background-image: url('/wp-content/themes/onelove/assets/images/love-path-desktop.svg');
      top: 0;
      bottom: $default-spacing;
      right: $default-spacing;
      left: $default-spacing;

    }
  }
}

// 7. Forms
// ---------

head + body form {
  @include breakpoint(medium) {
    max-width: 25rem;
  }
}

li.current {
  & a:hover {
    background-color: inherit;
  }
}

.snow-background {
  position: relative;
  @include breakpoint(medium) {
  position: inherit;
  }
  &::before {
    content: "";
    top: -$default-spacing;
    left: - rem-calc(31);
    height: calc(100% + 1.875rem);
    width: 100vw;
    z-index: -1;
    position: absolute;
    background-color: $snow;
    @include breakpoint(medium) {
      top: 4.375rem;
      height: 25rem;
      left: 0;
    }
  }
}

body:not(.error404) {
  .full-width-no-featured-image {
    margin: 0 auto;
    text-align: center;
    min-height: 20rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
      max-width: 48rem;
      h1 {
        padding-bottom: $default-spacing;
        margin-bottom: 0;
      }
    }
    & + #page-full-width {
      padding-top: 0;
    }
  }
  .full-page-header-content {
    max-width: 48rem;
    * {
      text-align: center;
    }
    h1.entry-title {
      margin-bottom: $default-spacing;
    }
  }
}

#header-search-form {
  padding: $default-spacing;
  h1 {
    margin-bottom: $default-spacing;
    text-align: center;
    color: $white;
  }
  form {
    margin: 0 auto;
  }
  border: none;
  border-radius: .125rem;
  outline: none;
}
#masthead .top-bar li.menu-item-search a:hover {
  h4.fa.fa-search.head-menu-item {
    border: none;
    margin-bottom: 0;
  }
}


.footer-bottom-section {
  background-color: #175160;
  position: relative;
  z-index: 2;
  * {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #175160;
    z-index: 1;
  }
}
.page-template-page-home #page-full-width.homepage {
  padding-bottom: 0;
}

.menu-icon-container {
  height: 100%;
}

body:not(.error404).page-template-page-home  .full-page-header-content {
  max-width: 60rem;
}
// Utility classes

.hidden {
  display: none !important;
}
.display-flex {
  display: flex !important;
}
.remove-overlay {
  background-image: none !important;
}

.animated-love-path {
  position: relative;
  &,* {
    overflow: visible !important;
  }
  .love-path-svg {
    position: absolute;
    top: -15px;
    left: -15px;
    @include breakpoint(medium) {
      left: -50px;
    }
    z-index: 120;
  }
}

.video-modal {
  position: relative;
  float: left;
  .video-modal-overlay {
    height: auto;
    width: auto;
    position: absolute;
  }
  .modal-play-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
html.is-reveal-open, html.is-reveal-open body {
  position: relative;
}
html .reveal {
  border: none;
  outline: none;
}
.mod-reveal {
  padding: 0;
  overflow: visible;
  background: transparent;
  position: absolute;
  width: auto;
  max-width: none;
  text-align: center;
  transform: translateY(0%);
  top: 50% !important;
  left: 50%;
  min-height: inherit;
  height: inherit;
  transform: translate(-50%,-50%);
  display: inline-block !important;

  iframe {
    height: 50vh;
    width: 80vw;
    @include breakpoint(medium) {
      width: 50vw;
    }

  }
}
*:focus {
  outline: none;
}

// 9. One-off classes
// ---------
.make-the-team {
  h1 {
    text-align: center;
    font-size: 30px;
    line-height: inherit;
    @include breakpoint(medium) {
      font-size: 45px;
      line-height: 60px;
    }
  }
  span {
    color: $moss;
  }
}

.coral-heart.vc_row.vc_row-flex {
  overflow: visible;
  &:before {
    content: "";
    height:35px;
    width: 40px;
    background-image: url('/wp-content/themes/onelove/assets/images/coral-heart.svg');
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.play-button {
  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url('/wp-content/themes/onelove/assets/images/play-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
  }

}
.modal-play-text {
  position: absolute;
  top: 5%;
  left: 2%;
  color: #fff;
  font-weight: normal;
  i {
    margin-left: $default-spacing/2;
  }
  @media screen and (max-width: 600px) {
    font-size: 5vw;
    top: 5%;
    left: 2%;
    i {
      margin-left: 2vw;
    }
  }

}

// 9. Contact Form 7
// ---------

html body div.wpcf7-response-output {
  border: none !important;
}

.wpcf7 p ~ p {
  margin-bottom: 1.625rem;
}
