// main stylesheet
// --------------
//
// Table of Contents:
//
// 1. Global



// 1. Global
// ---------
html head + body .green {
  background-image: linear-gradient(-137deg, #55C6B6 12%, #22CBB6 45%, #0FCCB6 88%);
}
html head + body .blue {
  background-image: linear-gradient(-141deg, #00A3DF 0%, #095E9A 100%);
}
html head + body .navy {
  background: $midnight;
}

html head + body .green,
html head + body .blue,
html head + body .navy,
.escalation-block,
.tnl-block,
.stories-block,
.main-video-slide {
  & * {
    color: $white;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea {
    border-bottom: 2px solid $white;
  }
  .social-media-icon:hover * {
    color: $midnight
  }
}

#searchform {
  padding: 1rem;
  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &::-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
    &[type="text"]:focus {
      color: $white;
      border-bottom: 2px solid $midnight;
    }
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border-bottom: 2px solid $grey-300;
}

#display-post-category {
  margin-bottom: 1.25rem;
}

#single-post {
  margin-top: $default-spacing;
  article.main-content {
    width: 100%;
    .entry-title {
      margin-bottom: $default-spacing;
    }
    #featured-hero {
      height: 14.0625rem;
      @include breakpoint(medium) {
        height: 25rem;
      }
    }
  }
}

.page-template-single-learn_post_type,
.single-learn_post_type {

  #featured-hero {
    height: 14.0625rem;
    background-position: center top;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    @include breakpoint(medium) {
      height: 25rem;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}


.page-template-single-start_post_type,
.single-start_post_type  #single-post,
.page-template-page-full-width #page-full-width,
.single-learn_post_type #single-post {
  width: 94%;
}

.single-start_post_type  #single-post,
.page-template-page-full-width #page-full-width {
  margin-top: 0;
  max-width: 60rem;
  @include breakpoint(medium) {
    width: 80%;
  }
  @include breakpoint(xlarge) {
    width: 100%;
  }
}


.single-learn_post_type #single-post {
  @include breakpoint(48rem) {
    max-width: 48rem;
  }
}

.page-template-page-full-width,
.page-template-page-home,
.single-start_post_type {
  #featured-hero,
  .cycloneslider-slide > * {
    height: calc(100vh - 4.375rem);
    width: 100vw;
  }
}

#page-full-width.homepage {
  margin-top: 0;
}

.social-media-icons-container {
  width: 100%;
  a.column.social-media-icon {
    font-size: $default-spacing;
    max-width: 4.375rem;
    &:hover {
      background-color: transparent;
    }
  }
}


.overlay {
  background-image:  linear-gradient(-180deg, rgba(0,0,0,0.00) 38%, #333333 100%);
  height: 100%;
  width: 100%;
  .full-page-header-content {
    color: $white;
    position: absolute;
    left: 1.25rem;
    right: 1.25rem;
    bottom: 3.5625rem;
    .entry-title {
      margin-bottom: 1.25rem;
    }
  }
}

.cycloneslider,
.ol-slider {
  &:focus {
    outline: none;
  }
}

.ol-slider {
  overflow: hidden;
  height: calc(100vh - 4.375rem);
  .title {
    font-size: rem-calc($main-font-size + 3);
    line-height: $title-line-height*.7;
    @include breakpoint(28rem) {
      font-size: $title_font_size;
      line-height: $title-line-height;
    }
  }
  .main-video-slide {
    .overlay-content {
      position: absolute;
      z-index: 3;
      bottom: 0;
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
      left: $default-spacing/2;
      right: $default-spacing/2;
      & > * {
        margin-bottom: $default-spacing;
      }
    }
    .featured-video-overlay {
      position: relative;
      z-index: 2;

      &:before {
        content: "";
        display: block;
        position: absolute;
        @include dimensions(100%,calc(100vh - 4.375rem));
        opacity: .77;
        background-color: $sky;


        video {
          z-index: 1;
          position: absolute;
        }
      }
    }
  }
  div.slider-image {
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .featured-video-overlay,
  div.slider-image,
  .prevent-touch {
    @include dimensions(100%,100%);
  }
}

.prevent-touch {
  pointer-events: none;
}

.video-background {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99
}

.video-background iframe,
.video-foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

@media (min-aspect-ratio:16/9) {
    .video-foreground {
        height: 300%;
        top: -100%
    }
}

@media (max-aspect-ratio:16/9) {
    .video-foreground {
        width: 300%;
        left: -100%
    }
}
