// main stylesheet
// --------------
//
// Table of Contents:
//
// 1. Global



// 1. Global
// ---------
html head + body .green {
  background-image: linear-gradient(-137deg, #55C6B6 12%, #22CBB6 45%, #0FCCB6 88%);
}
html head + body .blue {
  background-image: linear-gradient(-141deg, #00A3DF 0%, #095E9A 100%);
}

html head + body .green,
html head + body .blue {
  & * {
    color: $white;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea {
    border-bottom: 2px solid $white;
  }
}

#searchform {
  padding: 1rem;
  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &::-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
    &[type="text"]:focus {
      color: $white;
      border-bottom: 2px solid $midnight;
    }
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border-bottom: 2px solid $grey-300;
}
