html body {
  .default-block-styling {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-clip: content-box;
    min-height: 21.875rem;
    padding: 0 $default-spacing/2;
    box-sizing: border-box;
    margin-top: $default-spacing/2;
    margin-bottom: $default-spacing/2;
    position: relative;
    &:not(.vc_row) .ol_button {
      position: absolute;
      margin: 0 auto $default-spacing auto;
      right: $default-spacing;
      left: $default-spacing;
      bottom: 0;
    }
    .ol_button {
      a.vc_btn3-color-default:hover {
        background-color: $midnight;
      }
    }
   .pardotform {
     position: relative;
     margin: 0 auto;
     display: block;
     @include breakpoint(medium) {
       margin-bottom: 1.25rem;
       position: absolute;
       left: 0;
       right: 0;
     }
   }
  }
  .default-block-styling.vc_row {
    background-clip: border-box;
    margin-top: inherit;
    display: block;
    margin-bottom: 0;
  }

  .vc_row {
    &.default-block-styling {
      margin-top: inherit;
      min-height: 31.25rem;
      height: 100%;
      display: flex;
      .vc_column-inner  {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        max-width: 39.6875rem;
        margin: 0 auto;
      }
    }
    &.default-block-styling:not(.join-block):not(.bookmark-block) {
      background-size: 30%;
    }
    &.bookmark-block {
      background-size: 10%;
    }
    &.stickies-block {
      background-position: 100% bottom;
      background-size: 30% !important;
    }
    &.flyer-block {
      background-position: 115% bottom;
      background-size: 25% !important;
    }
  }

  .escalation-block,
  .tnl-block,
  .stickies-block {
    background-position: center right;
  }

  .flyer-block {
    background-position: 150% bottom;
  }

  .stickies-block {
    background-size: 70%;
    background-position: 150% bottom;
  }

  .stories-block,
  .playlist-block {
    background-position: center left;
  }

  .bookmark-block {
    background-size: 20%;
    background-position: 85% top;
  }
  .flyer-block {
    background-size: 60%;
  }
  .shop-block {
    background-position: bottom right;
  }
  .join-block {
    background-size: 50% 60%;
    background-position: 85% 117%;
    @include breakpoint(medium) {
      background-position: 85% 100%;
    }
  }
  .stickies-block {
    .ol_button a.vc_btn3-color-default:hover {
      background-color: $moss;
    }
  }

}

@include create_block('escalation','projector',$sky);
@include create_block('tnl','not-love',$moss);
@include create_block('stories','stories',$coral);
@include create_block('bookmark','bookmark',$maroon);
@include create_block('stickies','stickies',$midnight);
@include create_block('playlist','playlist',$light-orange);
@include create_block('flyer','flyer',$alt-grey);
@include create_block('shop','ol-shirt',$snow);
@include create_block('join','one-love-sign',$sky);
