.swp_CTT.style-onelove {
  .sw-ctt-text {
    font-size: rem-calc($main-font-size);
    color: $coral;
    line-height: rem-calc($main-font-size+10);
    font-style: italic;
    text-align: center;
  }
  .sw-ctt-btn {
    display: none;
  }
  & + .nc_socialPanel {
    justify-content: center;
    > div {
      max-width: 100px;
      margin: 0 .9375rem;
    }
  }
}
