#footer-container {
  background-color: $midnight;
  .page-template-page-home & {
    margin-top: 0;
    border-top: 0;
  }
  a {
    &:hover,
    &:hover i,
    &:active,
    &:active i {
      text-decoration: underline;
      color: $white;
    }
  }
  a.social-media-icon {
    &:hover,
    &:hover i,
    &:active,
    &:active i {
      text-decoration: none;
      color: $sky;
    }
  }

  .active a {
    background: initial;
  }
  article.footer-widget-container {
    margin-bottom: $default-spacing;
  }
  article:last-of-type {
    margin-bottom: 0;
  }
  #footer {
    padding-bottom: 0;
  }
  #menu-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
    }
    & > li {
      flex: 1;
      align-self: center;
      @include breakpoint(medium) {
        align-self: baseline;
      }
      text-align: center;
      & > a {
        @extend h4;
        padding: $default-spacing $default-spacing 0 $default-spacing;
        display: block;
        text-align: center;
        & ~ .sub-menu a {
          @extend h5;
          html & {
            color: $white;
          }

        }
      }
      & > ul {
        padding: $default-spacing;
        padding-top: 0;
      }
    }
  }
  .current-menu-item {
    & > a {
      text-decoration: underline;
    }
  }
  .current-menu-parent,,.menu-item-has-children > a,.menu-item-has-children > a:hover {
    text-decoration: none;
  }
}

#footer-container-bottom {
  @extend #footer-container;
  margin-top: 0;
  border-top: 0;
  background-color: #175160;
  article {
    text-align: center;
    * {
      font-size: .875rem;
      line-height: 1rem;
    }
  }
  #footer-bottom-section {
    @extend #footer;
    padding-bottom: $default-spacing;
  }
}

.page-template-page-full-width {
  #footer-container {
    margin-top: 0;
    border-top: 0;

  }
  #page-full-width {
    padding-bottom: 0;
  }
}
