// header stylesheet
// --------------
//
// Table of Contents:
//
// 1. Global
// 2. Mobile



// 1. Global
// ---------

$header-height: 70;

#masthead {

  @include border('yes');
  background-color: $white;

  #site-navigation {
    max-width: 75rem;
    margin: 0 auto;
  }

  .title-bar-title {
    width: 98%;
    display: flex;
  }
  #menu-main-nav {
    &, &>li a  {
      height: rem-calc($header-height);
    }
  }
  .top-bar {
    .home > a:hover {
      background-color: inherit;
    }
    // max-width: large;
    .menu li:not(.home) a:hover:not(.button) {
      background-color: $sky;
    }
  }
  .title-bar {
    @include dimensions(null,rem-calc($header-height));
  }

  .title-bar,
  .top-bar {
    display: flex;
    .menu-icon {
      @include dimensions(rem-calc(35),rem-calc(35));
    }

  }
  .menu li {
    &:not(:last-child) {
      border-right: initial;
    }
    & a {
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }

  .header-logo-home img {
    height: 2.1875rem;
  }
}

// 2. Mobile
// ---------
