section.author-bio {
  margin-bottom: -10px;
  margin-top: $default-spacing;
  .about-author-headline {
    margin-bottom: $default-spacing;
    h3 {
      display: flex;
      align-items: center;
      justify-content:  space-between;
      &:after {
        content: "";
        background: #cacaca;
        height: 1px;
        flex: .98;
      }
    }
  }
  .author-container {
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
      flex-direction: row;
    }
    .about-author-image {
      min-width: 6.25rem;
      margin-right: $default-spacing;
      img:not(.fallback-gravitar) {
        border-radius: 50%;
      }
    }
  }
  .about-author-text  p {
    padding-bottom: 0;
  }
  .author-handles p {
    padding-top: 0;
  }
}
