
body {
  .vc-grid-card-style {
    @include breakpoint(48rem) {
      min-width: 19rem;
    }
    .grid-item-default-card-image > div {
      max-height: 145px;
      background-position: top;
    }
    @at-root {
      body.page-template-page-home {
        .grid-item-default-card-image > div {
          max-height: 200px;
        }
      }
    }

    div.vc_gitem-post-category-name {
      &:not(:first-child) {
        display: none;
      }
      &.vc_grid-filter-item:hover {
        background-color: initial;
        transition: initial;
        span {
          color: $coral;
        }
      }
    }
    .vc_ol-card {
      @extend .card;
      padding-top: 1rem;
    }
  }

  .action-card.action-card-display-pardot-parent {
    padding: 0;
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
    }
    &:before {
      left: $default-spacing;
    }
    .action-card-display-pardot {
      padding: 0;
      width: 100%;
      padding: 2.5rem 1.875rem;
    }
  }

}
