// Manage our color palette in isolation.

$sky:      #00a3df; // primary color
$midnight: #1a596a; // primary color, used in footer
$moss:     #55c6b6; // secondary color, to be used as main accent color
$coral:    #ff5e5b; // secondary color, to be used as an assistant accent
$snow:     #f9f9f9; // global background color
$grey:     #414141; // font color
$border:   #eeeeee; // used for card border
