// Font partial
// --------------
//
// Table of Contents:
//
// 1. Fonts
// 2. Font weights
// 3. Line heights
// 4. Font sizes
// 5. Font Spacing



// 1. Fonts
// ---------

$overpass: 'Overpass', sans-serif; // header font
$lato: 'Lato', sans-serif; // body font

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .entry-title,
  .title,
  div.vc_gitem-post-category-name span,
  #menu-footer > li > a,
  .wpcf7-submit {
    font-family: $overpass;
  }
}


// 2. Font weights
// ---------

$bold: 700;
$extra-bold: 900;
$extra-light: 200;

body {
  h1,
  h2,
  .entry-title,
  .title,
  #menu-footer > li > a {
    font-weight: $extra-bold;
  }
  h3,
  h4,
  .wpcf7-submit {
    font-weight: $bold;
  }

  h5,
  div.vc_gitem-post-category-name span {
    font-weight: $extra-light;
    color: $coral;
    letter-spacing: .01875rem;
  }
}



// 3. Line Heights
// ---------

$title-line-height: 3.125rem; //50px

body {

  .entry-title,
  .title {
    line-height: $title-line-height;
  }

  h1,
  blockquote {
    line-height: $title-line-height * .7 ;
  }

  h2,
  #menu-footer > li > a {
    line-height: $title-line-height * .62;
  }
  h3 {
    line-height: $title-line-height * .54;
  }
  h4,
  .wpcf7-submit {
    line-height: $title-line-height * .48;
  }
  p {
    line-height: $title-line-height * .52;
  }
}

// 4. Font sizes
// ---------

$title_font_size: 2.8125rem;

body {
  blockquote {
    font-size: 1.5625rem;
  }
  p {
    font-size: 1.125rem;
  }
  .entry-title,
  html & .title {
    font-size: $title_font_size;
  }
}


// 5. Font Spacing
// ---------
body {
  p {
    margin-bottom: 0;
    padding-top: $default-spacing;
    padding-bottom: $default-spacing;
    &:first-of-type {
      padding-bottom: 1rem;
    }
    & ~ p {
      padding-top: 0;
      padding-bottom: 1rem;
    }
    &:last-of-type {
      padding-bottom: $default-spacing;
    }
  }
}
