// Complete list of theme mixins.

@mixin border($shadow: null) {
  border-bottom: 1px solid $border;
  @if ($shadow) {
    box-shadow: 2px 3px 15px rgba(228,228,228,.5);
  }
}

@mixin dimensions($width:null, $height:null) {
  @if ($height) {
    height: $height;
  }
  @if ($width) {
    width: $width;
  }
}
