$zmdi-font-path:      "../../../foundationpress/assets/components/material-design-iconic-font/dist/fonts";
$zmdi-css-prefix:     icon-hc;
$zmdi-icon-prefix:    icon;
@import "../../../foundationpress/assets/components/material-design-iconic-font/scss/material-design-iconic-font.scss";
